#columnHolder .column .passageContainer .copyrightInfo {
  background-color: #fff;
  background-color: var(--clrBackground);
  position: absolute;
  font-size: 11px;
  color: darkgrey;
  color: var(--clrText);
  bottom: 1px;
  left: 16px;
  right: 16px;
  padding: 4px 0 8px;
}

#columnHolder .column .passageContainer .copyrightInfo:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  height: 25px;
  pointer-events: none;
}
