.passageOptionsGroup:after {
  content: "";
  display: table;
  clear: both;
}

.passageOptionsGroup [dir="rtl"] a {
  text-align: right;
}

.passageOptionsGroup [dir="rtl"] a > span:first-child {
  margin-right: 20px;
}

.passageOptionsGroup .closeColumn.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.passageOptionsGroup .closeColumn.disabled:hover,
.passageOptionsGroup .closeColumn.disabled:active {
  background-position: inherit;
}

.passageOptionsGroup .btn-group.pull-right {
  z-index: 30;
}

.passageOptionsGroup button span {
  line-height: 1;
}

.passageOptionsGroup button span.smallerFont {
  font-size: 8px;
  line-height: 12px;
}

.passageOptionsGroup button span.largerFont {
  font-weight: bold;
}

.passageOptionsGroup a {
  color: var(--clrText);
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  padding: 5px 0 5px 15px;
  position: relative;
  top: 1px;
}

.passageOptionsGroup a:hover,
.passageOptionsGroup a:focus {
  text-decoration: none;
  background-color: var(--clr2ndHover);
  color: black;
}

.passageOptionsGroup .dropdown-menu {
  min-width: 180px;
  padding-top: 0;
}

.passageOptionsGroup .dropdown-menu h2 {
  font-size: 14px;
  margin: 10px 8px 4px;
}

.passageOptionsGroup .dropdown-menu a {
  display: block;
}

.passageOptionsGroup .dropdown-menu a,
.passageOptionsGroup .dropdown-menu .noHighlight {
  line-height: 20px;
  padding-left: 12px;
}

.passageOptionsGroup .dropdown-menu .noHighlight {
  color: #5d5d5d;
  padding-top: 5px;
  padding-bottom: 5px;
}

.passageOptionsGroup .dropdown-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.passageOptionsGroup .dropdown-menu li {
  font-size: 14px;
  padding-right: 5px;
}

.passageOptionsGroup .dropdown-menu li:hover {
  background-color: var(--clr2ndHover);
}

.passageOptionsGroup .dropdown-menu li.contextContainer {
  min-width: 220px;
}

.passageOptionsGroup .dropdown-menu li.contextContainer button {
  padding: 5px 7px;
}

.passageOptionsGroup .dropdown-menu li.contextContainer:hover {
  background-color: inherit;
}

.passageOptionsGroup .dropdown-menu li.noHighlight:after {
  content: "";
  display: table;
  clear: both;
}

.passageOptionsGroup .dropdown-menu li.noHighlight:hover {
  background-color: inherit;
}

.passageOptionsGroup .dropdown-share + .dropdown-menu > ul > li {
  float: left;
  padding: 10px 0 0 10px;
}

.passageOptionsGroup .dropdown-share + .dropdown-menu > ul > li:hover {
  background-color: transparent;
}

.passageOptionsGroup .nested-btn-group {
  float: left;
  margin-left: -1px;
}

.passageOptionsGroup .passageOptions,
.passageOptionsGroup .displayModes {
  direction: ltr;
  text-align: left;
}

.passageOptionsGroup .passageOptions .panel,
.passageOptionsGroup .displayModes .panel {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.passageOptionsGroup .passageOptions .panel a,
.passageOptionsGroup .displayModes .panel a {
  cursor: pointer;
}

.passageOptionsGroup .passageOptions .panel a:hover,
.passageOptionsGroup .displayModes .panel a:hover {
  background-color: var(--clr2ndHover);
  color: var(--clrText);
}

.passageOptionsGroup .passageOptions .panel .caret,
.passageOptionsGroup .displayModes .panel .caret {
  float: right;
  margin-right: 15px;
  margin-top: 8px;
}

.passageOptionsGroup .passageOptions .panel .panel-body,
.passageOptionsGroup .displayModes .panel .panel-body {
  padding: 0;
}

.passageOptionsGroup .passageOptions .panel .panel-body a,
.passageOptionsGroup .displayModes .panel .panel-body a {
  padding-left: 24px;
}

.passageOptionsGroup .argSummary {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: "";
}

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: "\00A0 \2014";
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.media > .pull-right {
  margin-left: 10px;
}
.passageOptionsGroup .btn-group.pull-right {
  z-index: 30;
}
.nextPreviousChapterGroup .previousChapter,
.nextPreviousChapterGroup .nextChapter {
  display: none;
  position: absolute;
  top: auto;
  bottom: 35px;
  z-index: 1;
  padding: 12px;
  background-color: white;
  background-color: var(--clrBackground);
  border-radius: 100%;
  box-shadow: 0 0 5px;
}

.nextPreviousChapterGroup .previousChapter .glyphicon,
.nextPreviousChapterGroup .nextChapter .glyphicon {
  top: 0;
}

.nextPreviousChapterGroup .previousChapter {
  left: 20px;
}

.nextPreviousChapterGroup .nextChapter {
  right: 20px;
}
.nextPreviousChapterGroup .previousChapter,
.nextPreviousChapterGroup .nextChapter {
  display: none;
  position: absolute;
  top: auto;
  bottom: 35px;
  z-index: 1;
  padding: 12px;
  background-color: white;
  background-color: var(--clrBackground);
  border-radius: 100%;
  box-shadow: 0 0 5px;
}

.nextPreviousChapterGroup .previousChapter .glyphicon,
.nextPreviousChapterGroup .nextChapter .glyphicon {
  top: 0;
}

.nextPreviousChapterGroup .previousChapter {
  left: 20px;
}

.nextPreviousChapterGroup .nextChapter {
  right: 20px;
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.help .glyphicon svg {
  fill: var(--clrText);
}
.select2-results li.select2-highlighted.select-other .glyphicon {
  font-size: 10px;
  top: -1px;
}
li.select-other .glyphicon,
span.select-other .glyphicon {
  font-size: 10px;
  top: -1px;
}
h4.lexicalGrouping .glyphicon {
  margin-right: 10px;
}
#history .openBookmark .glyphicon {
  top: 0;
}
.qtip-titlebar button,
.qtip-titlebar .glyphicon {
  cursor: pointer;
}
#history .openBookmark .glyphicon {
  top: 0;
}
#history .glyphicon {
  font-size: 1em;
  line-height: 1em;
  padding: 0;
}
#history .glyphicon:hover {
  color: #111;
  cursor: pointer;
}
.help .glyphicon.active {
  color: #17758f;
}
#history .glyphicon.glyphicon-open {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#history .glyphicon.glyphicon-pushpin {
  transition: transform 100ms;
}
#history .glyphicon.glyphicon-pushpin:hover {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#history .glyphicon.glyphicon-pushpin-pinned {
  transition: transform 100ms;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#history .glyphicon.glyphicon-pushpin-pinned:before {
  content: "\e146";
}

#history .glyphicon.glyphicon-pushpin-pinned:hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
