* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

.app-container {
  background-color: #ede5d1;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.main-content {
  padding-top: 76px !important;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
}

.passage-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.chapter-viewer {
  background-image: url("/public/textur-gas-kvas-com-vz3z-p-tekstura-fon-pergament-20.jpg");
}
/* .lexicon-content {
  background-image: url("/public/stoun-bg-1.jpg");
} */

.chapter-viewer,
.lexicon-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.book-selector-content {
  position: relative;
}

/* === АДАПТИВНІСТЬ === */
@media (max-width: 992px) {
  .main-content {
    flex-direction: column;
  }
  .lexicon-column {
    /* width: 100% !important; */
    width: 100%;
    height: auto;
    max-height: 50%;
    border-left: none;
    border-top: 1px solid #ddd;
  }
  .lexicon-window {
    width: 100%;
  }
}
