* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

.app-container {
  background-color: #ede5d1;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.main-content {
  padding-top: 0px !important;
  /* margin-top: 65px !important; */
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  height: 100vh;
  overflow: hidden; /* Уникаємо скролу на main */
}

.passage-container {
  display: flex;
  height: 100vh;
}

.passage-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden; /* Уникаємо скролу на колонках */
}

.passage-page {
  background-color: #f5f5d5;
  min-height: 100vh;
}
.passage-panels {
  display: flex;
  flex: 1 1 auto !important;
  overflow: auto;
}

.column-view .panel {
  padding: 1rem;
  border: 1px solid #ddd;
  max-height: 80vh;
  overflow-y: auto;
}

.chapter-viewer {
  background-image: url("/public/images/pergament.jpg");
}

.chapter-viewer {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  height: auto;
}

.book-selector-content {
  position: relative;
}

@media (max-width: 1070px) {
  .main-content {
    flex-direction: column;
  }
  .passage-container {
    flex-direction: column;
    /* Переносимо лексикон під */
  }
  .lexicon-column {
    width: 100%;
    /* Повна ширина */
    padding-top: 0px;
    flex-direction: row;
    /* Горизонтально для лексиконів */
    /* overflow-x: auto; */
    /* Скрол горизонтальний */
    overflow: hidden;
    /* ← не скролити колонку */
    height: auto;
    max-height: 30%;
    border-left: none;
    border: 1px solid #ddd;
    position: sticky;
    bottom: 0;
    background: white;
    /* Фікс до низу */
    display: flex;
  }
  .lexicon-window {
    /* Фіксована ширина для кожного вікна */
    min-width: 50%; /* Для скролу */
    width: 100%;
    height: 100%; /* Повна висота */
    border-bottom: none;
    border-right: 1px solid #ddd; /* Розділ горизонтальний */
    min-height: 0; /* ← дозволяє overflow */
    justify-content: center;
  }
  .lexicon-window:last-child {
    border-right: none;
  }
  .dictionary-content {
    width: 50%;
    min-width: 256px;
  }
  .grammar-content {
    width: 50%;
    min-width: 256px;
  }
}

@media (max-width: 578px) {
  .dictionary-content {
    width: 50%;
    min-width: 200px;
  }
  .grammar-content {
    width: 50%;
    min-width: 200px;
  }

  .lexicon-tabs button {
    padding: 10px 0;
    margin: 0 auto;
    flex: 0 0 auto;
  }
}

@media (max-width: 466px) {
  .dictionary-content {
    width: 50%;
    min-width: 180px;
  }
  .grammar-content {
    width: 50%;
    min-width: 180px;
  }

  .lexicon-tabs button {
    font-size: 0.8rem;
    width: auto;
  }
}
@media (max-width: 426px) {
  .dictionary-content {
    width: 50%;
    min-width: 160px;
  }
  .grammar-content {
    width: 50%;
    min-width: 160px;
  }
  .lexicon-tabs button {
    font-size: 0.7rem;
  }
}
