* {
  box-sizing: border-box;
}
:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);
  --safe-area-right: env(safe-area-inset-right);
}

body,
.app-container {
  padding-top: var(--safe-area-top);
  padding-bottom: var(--safe-area-bottom);
  padding-left: var(--safe-area-left);
  padding-right: var(--safe-area-right);
  box-sizing: border-box; /* Щоб padding не додавав ширину */
}

/* Для фіксованих елементів (наприклад, navbar bottom) */
.navbar-bottom {
  bottom: var(--safe-area-bottom);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  /* overflow: hidden; */
}

.app-container {
  background-color: #ede5d1;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

button {
  color: black;
}
.main-content {
  padding-top: 0px !important;
  /* margin-top: 65px !important; */
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  height: 100vh;
  overflow: hidden; /* Уникаємо скролу на main */
}

.passage-container {
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
}

.passage-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden; /* Уникаємо скролу на колонках */
}

.passage-page {
  background-color: #f5f5d5;
  min-height: 100vh;
}
.passage-panels {
  display: flex;
  flex: 1 1 auto !important;
  overflow: auto;
}

.column-view .panel {
  padding: 1rem;
  border: 1px solid #ddd;
  max-height: 80vh;
  overflow-y: auto;
}

/* .chapter-viewer {
  background-image: url("/public/images/pergament.jpg");
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  height: auto;
} */

/* .book-selector-content {
  position: relative;
} */
/* .lexicon-tabs {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  flex-wrap: nowrap;
  scrollbar-width: thin;
} */

/* .lexicon-tabs button {
  flex: 1;
  padding: 10px 8px;
  border: none;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s;
} */
/* .lexicon-column {
  width: 320px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
  overflow: hidden;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  padding-top: 63px;
} */
/* .lexicon-window {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #ddd;
  min-height: 200px;
} */
/* .lexicon-content {
  display: flex;
  background-image: url("/public/images/stoun-bg-1.jpg");
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  font-size: 0.95rem;
  justify-content: center;
} */
