/* src/styles/LexiconWindow.css */

.lex-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  font-weight: 600;
  color: #555;
  min-width: 90px;
}

.value {
  font-weight: 500;
  text-align: right;
}

.value.gr {
  font-family: "Gentium Plus", serif;
  color: #d35400;
}

.value.uk {
  color: #2c3e50;
}
