.navbar-custom {
  z-index: 1050;
  padding: 0.5rem 1rem;
  background: #fff !important;
}

.navbar-custom .nav-link {
  white-space: nowrap;
  color: #333;
  transition: background 0.2s;
  border-radius: 0.25rem;
}

.navbar-custom .nav-link:hover {
  background-color: #f0f0f0;
}

.more-dropdown .dropdown-toggle::after {
  display: none;
}

/* Фіксований хедер - цей параметр створював скрол всієї сторінки*/
/* body {
  padding-top: 76px !important;
} */

/* Адаптивність */
@media (max-width: 1431px) {
  .navbar-custom .nav-link span {
    display: none;
  }
  .navbar-custom .nav-link {
    padding: 0.5rem !important;
  }
}
