/* PassagePage.css */
/* .passage-page {
  background-color: #f5f5d5;
  min-height: 100vh;
}

.column-view .panel {
  padding: 1rem;
  border: 1px solid #ddd;
  max-height: 80vh;
  overflow-y: auto;
} */
.panel {
  flex: 1;
  min-width: 400px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panel:last-child {
  border-right: none;
}
