<div class="modal-dialog" style="width: 350px">
  <div class="modal-content stepModalFgBg">
    <link rel="stylesheet" href="css/spectrum.css" />
    <script src="libs/spectrum.js"></script>
    <script src="libs/tinycolor-min.js"></script>
    <script>
      $(document).ready(function () {
        showFontSizeBtns("defaultfont");
        showFontSizeBtns("hbFont");
        showFontSizeBtns("unicodeFont");
        showFontSizeBtns("arabicFont");
        showFontSizeBtns("burmeseFont");
        showFontSizeBtns("chineseFont");
        showFontSizeBtns("copticFont");
        showFontSizeBtns("farsiFont");
        showFontSizeBtns("khmerFont");
        showFontSizeBtns("syriacFont");
        var color = step.settings.get("clrHighlight");
        if (!(typeof color === "string" && color.length == 7))
          color = "#17758F";
        var closeButton = $("#fontSettings").find("button.close");
        if (closeButton.length == 1)
          $(closeButton[0]).attr(
            "onclick",
            "closeFontSetting('" + color + "')"
          );
        color = step.settings.get("clrText");
        $("#clrText").spectrum({
          color: color,
          clickoutFiresChange: false,
          change: function (color) {
            var currentClrPicker = $("#clrText").spectrum("get").toHexString();
            setColor(currentClrPicker, "clrText");
          },
          show: function (color) {
            var currentClrPicker = $("#clrText").spectrum("get").toHexString();
            var color = step.settings.get("clrText");
            if (!(typeof color === "string" && color.length == 7))
              color = "#5D5D5D";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clrText");
          },
        });
        color = step.settings.get("clrBackground");
        $("#clrBackground").spectrum({
          color: color,
          clickoutFiresChange: false,
          change: function (color) {
            var currentClrPicker = $("#clrBackground")
              .spectrum("get")
              .toHexString();
            setColor(currentClrPicker, "clrBackground");
          },
          show: function (color) {
            var currentClrPicker = $("#clrBackground")
              .spectrum("get")
              .toHexString();
            var color = step.settings.get("clrBackground");
            if (!(typeof color === "string" && color.length == 7))
              color = "#ffffff";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clrBackground");
          },
        });
        color = step.settings.get("clrStrongText");
        $("#clrStrongText").spectrum({
          color: color,
          clickoutFiresChange: false,
          change: function (color) {
            var currentClrPicker = $("#clrStrongText")
              .spectrum("get")
              .toHexString();
            setColor(currentClrPicker, "clrStrongText");
          },
          show: function (color) {
            var currentClrPicker = $("#clrStrongText")
              .spectrum("get")
              .toHexString();
            var color = step.settings.get("clrStrongText");
            if (!(typeof color === "string" && color.length == 7))
              color = "#17758F";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clrStrongText");
          },
        });
        color = step.settings.get("clrHighlight");
        $("#clrHighlight").spectrum({
          color: color,
          clickoutFiresChange: false,
          showPalette: true,
          palette: [
            ["rgb(23, 117, 143);", "green"],
            ["rgb(172, 9, 35);", "rgb(110, 11, 116);"],
          ],
          change: function (color) {
            var currentClrPicker = $("#clrHighlight")
              .spectrum("get")
              .toHexString();
            setColor(currentClrPicker, "clrHighlight");
          },
          show: function (color) {
            var currentClrPicker = $("#clrHighlight")
              .spectrum("get")
              .toHexString();
            var color = step.settings.get("clrHighlight");
            if (!(typeof color === "string" && color.length == 7))
              color = "#17758F";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clrHighlight");
          },
        });
        color = step.settings.get("clrHighlightBg");
        $("#clrHighlightBg").spectrum({
          color: color,
          clickoutFiresChange: false,
          change: function (color) {
            var currentClrPicker = $("#clrHighlightBg")
              .spectrum("get")
              .toHexString();
            setColor(currentClrPicker, "clrHighlightBg");
          },
          show: function (color) {
            var currentClrPicker = $("#clrHighlightBg")
              .spectrum("get")
              .toHexString();
            var color = step.settings.get("clrHighlightBg");
            if (!(typeof color === "string" && color.length == 7))
              color = "#17758F";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clrHighlightBg");
          },
        });
        color = step.settings.get("clr2ndHover");
        $("#clr2ndHover").spectrum({
          color: color,
          clickoutFiresChange: false,
          change: function (color) {
            var currentClrPicker = $("#clr2ndHover")
              .spectrum("get")
              .toHexString();
            setColor(currentClrPicker, "clr2ndHover");
          },
          show: function (color) {
            var currentClrPicker = $("#clr2ndHover")
              .spectrum("get")
              .toHexString();
            var color = step.settings.get("clr2ndHover");
            if (!(typeof color === "string" && color.length == 7))
              color = "#d3d3d3";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clr2ndHover");
          },
        });
        color = step.settings.get("clrLexiconFocusBG");
        $("#clrLexiconFocusBG").spectrum({
          color: color,
          clickoutFiresChange: false,
          change: function (color) {
            var currentClrPicker = $("#clrLexiconFocusBG")
              .spectrum("get")
              .toHexString();
            setColor(currentClrPicker, "clrLexiconFocusBG");
          },
          show: function (color) {
            var currentClrPicker = $("#clrLexiconFocusBG")
              .spectrum("get")
              .toHexString();
            var color = step.settings.get("clrLexiconFocusBG");
            if (!(typeof color === "string" && color.length == 7))
              color = "#17758F";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clrLexiconFocusBG");
          },
        });
        color = step.settings.get("clrRelatedWordBg");
        $("#clrRelatedWordBg").spectrum({
          color: color,
          clickoutFiresChange: false,
          change: function (color) {
            var currentClrPicker = $("#clrRelatedWordBg")
              .spectrum("get")
              .toHexString();
            setColor(currentClrPicker, "clrRelatedWordBg");
          },
          show: function (color) {
            var currentClrPicker = $("#clrRelatedWordBg")
              .spectrum("get")
              .toHexString();
            var color = step.settings.get("clrRelatedWordBg");
            if (!(typeof color === "string" && color.length == 7))
              color = "#17758F";
            if (color != currentClrPicker)
              setColor(currentClrPicker, "clrRelatedWordBg");
          },
        });
        if (step.colorUpdateMode) $(".adClr").show();
        else $(".adClr").hide();
      });
      function showFontSizeBtns(fontName, panelNumber) {
        var currentFontSize = step.util.σuj(fontName, panelNumber);
        if (currentFontSize > 0) {
          $("#" + fontName + "Btn")
            .find("." + fontName)
            .css("font-size", currentFontSize);
          $("#" + fontName + "Size").text("(" + currentFontSize + "px)");
          $("#" + fontName + "Btn").show();
        }
      }
      function setColor(baseColor, colorName) {
        if (
          !(
            typeof baseColor === "string" &&
            baseColor.length == 7 &&
            baseColor.substr(0, 1) === "#"
          )
        )
          baseColor = "#17758F";
        var darkMode = step.util.σu5();
        colorVarName = colorName;
        var rootVar = document.querySelector(":root");
        rootVar.style.setProperty("--" + colorVarName, baseColor);
        var obj = {};
        obj[colorVarName] = baseColor;
        step.settings.save(obj);
        if (colorVarName === "clrHighlightBg" && !step.colorUpdateMode) {
          rootVar.style.setProperty("--clrHighlightBg", baseColor);
          step.settings.save({ clrHighlightBg: baseColor });
          var t = tinycolor(baseColor);
          var hsl = t.toHsl();
          var colorH = hsl["h"];
          var colorS = hsl["s"] * 100;
          var colorL = hsl["l"] * 100;
          var desaturate = colorS - 40;
          var desColor = tinycolor(
            "hsl(" + colorH + ", " + desaturate + "%, " + colorL + "%)"
          );
          var desHsl = desColor.toHsl();
          var desColorH = desHsl["h"];
          var desColorS = desHsl["s"] * 100;
          var desColorL = desHsl["l"] * 100;
          var lightHex = baseColor;
          if (!darkMode) {
            var lighten = desColorL + 10;
            var lightColor = tinycolor(
              "hsl(" + desColorH + ", " + desColorS + "%, " + lighten + "%)"
            );
            var lightHex = lightColor.toHexString();
          }
          rootVar.style.setProperty("--clrStrongText", lightHex);
          step.settings.save({ clrStrongText: lightHex });
          desaturate = colorS - 50;
          desColor = tinycolor(
            "hsl(" + colorH + ", " + desaturate + "%, " + colorL + "%)"
          );
          desHsl = desColor.toHsl();
          desColorH = desHsl["h"];
          desColorS = desHsl["s"] * 100;
          desColorL = desHsl["l"] * 100;
          lighten = desColorL + 50;
          lightColor = tinycolor(
            "hsl(" + desColorH + ", " + desColorS + "%, " + lighten + "%)"
          );
          lightHex = lightColor.toHexString();
          rootVar.style.setProperty("--clrLexiconFocusBG", lightHex);
          step.settings.save({ clrLexiconFocusBG: lightHex });
          lighten = colorL + 55;
          lightColor = tinycolor(
            "hsl(" + colorH + ", " + colorS + "%, " + lighten + "%)"
          );
          lightHex = lightColor.toHexString();
          rootVar.style.setProperty("--clrRelatedWordBg", lightHex);
          step.settings.save({ clrRelatedWordBg: lightHex });
        }
        step.util.showFontSettings();
      }
      function closeFontSetting(baseColor) {
        if (typeof baseColor === "string" && baseColor.length == 7) {
          if (baseColor === "#17758F" || baseColor === "#c58af9")
            step.util.σuv("close");
          else setColor(baseColor);
        }
        step.util.closeModal("fontSettings");
      }
    </script>
    <div class="modal-header">
      <span><b>Update font in all panels</b></span
      ><button
        type="button"
        style="
          background: var(--clrBackground);
          color: var(--clrText);
          opacity: 0.9;
        "
        class="close"
        data-dismiss="modal"
        onclick="closeFontSetting('#17758F')"
      >
        X
      </button>
    </div>
    <div class="modal-body" style="text-align: center">
      <table style="height: auto; width: 95%">
        <tbody>
          <tr>
            <th style="width: 70%"></th>
            <th style="width: 30%"></th>
          </tr>
          <tr id="defaultfontBtn" style="">
            <!-- з'ясувати для чого тут використані пусті стилі -->
            <td class="passageContent defaultfont" style="font-size: 15px">
              Default font <span id="defaultfontSize">(15px)</span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('defaultfont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('defaultfont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="hbFontBtn" style="">
            <td class="passageContent hbFont" style="font-size: 24px">
              іврит: חֶ֫סֶד <span id="hbFontSize">(24px)</span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('hbFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('hbFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="unicodeFontBtn" style="">
            <td class="passageContent unicodeFont" style="font-size: 15px">
              грецька: Ἀγαπητοί <span id="unicodeFontSize">(15px)</span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('unicodeFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('unicodeFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="arabicFontBtn" style="display: none">
            <td class="passageContent arabicFont">
              Arabic: أَيُّهَا الأَحِبَّاءُ، <span id="arabicFontSize"></span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('arabicFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('arabicFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="burmeseFontBtn" style="display: none">
            <td class="passageContent burmeseFont">
              (ချစ်သူတို့၊) မြန်မာ <span id="burmeseFontSize"></span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('burmeseFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('burmeseFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="chineseFontBtn" style="display: none">
            <td class="passageContent chineseFont">
              Chinese: 亲爱的弟兄 <span id="chineseFontSize"></span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('chineseFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('chineseFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="copticFontBtn" style="display: none">
            <td class="passageContent copticFont">
              Coptic: ϯⲡⲁⲣⲁⲕⲁⲗⲉⲓ <span id="copticFontSize"></span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('copticFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('copticFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="farsiFontBtn" style="display: none">
            <td class="passageContent farsiFont">
              Farsi: برادران عزيز <span id="farsiFontSize"></span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('farsiFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('farsiFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="khmerFontBtn" style="display: none">
            <td class="passageContent khmerFont">
              Khmer: ទីស្រលាញ់ <span id="khmerFontSize"></span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('khmerFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('khmerFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr id="syriacFontBtn" style="display: none">
            <td class="passageContent syriacFont">
              Syriac: ܚܒܝܒܝ ܒܥܐ <span id="syriacFontSize"></span>
            </td>
            <td class="pull-right">
              <button
                class="btn btn-default btn-sm"
                type="button"
                title="Decrease font size"
                onclick="step.util.σuh('syriacFont', -1)"
              >
                <span style="font-size: 8px; line-height: 12px"
                  >A -</span
                ></button
              ><button
                class="btn btn-default btn-sm"
                type="button"
                title="Increase font size"
                onclick="step.util.σuh('syriacFont', 1)"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >A +</span
                >
              </button>
            </td>
          </tr>
          <tr>
            <td class="passageContent defaultfont">Dark mode</td>
            <td class="pull-right">
              <button
                id="darkModeBtn"
                class="btn btn-default btn-sm"
                type="button"
                title="Dark mode"
                onclick="step.util.σuv('flip')"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >Enable</span
                >
              </button>
            </td>
          </tr>
          <tr>
            <td class="passageContent defaultfont">Advanced color update:</td>
            <td class="pull-right">
              <button
                id="colorUpdateMode"
                class="btn btn-default btn-sm"
                type="button"
                title="Color mode"
                onclick="step.util.σuw()"
              >
                <span
                  style="font-size: 10px; line-height: 12px; font-weight: bold"
                  >Enable</span
                >
              </button>
            </td>
          </tr>
          <tr class="adClr" style="display: none">
            <td>Text without highlight</td>
            <td class="pull-right">
              <input
                id="clrText"
                type="color"
                value="#5D5D5D"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(93, 93, 93)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
          <tr class="adClr" style="display: none">
            <td>Background</td>
            <td class="pull-right">
              <input
                id="clrBackground"
                type="color"
                value="#ffffff"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(255, 255, 255)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
          <tr class="adClr" style="display: none">
            <td>Highlighted text 1</td>
            <td class="pull-right">
              <input
                id="clrStrongText"
                type="color"
                value="#17758f"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(68, 120, 136)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
          <tr class="adClr" style="display: none">
            <td>Highlighted text 2</td>
            <td class="pull-right">
              <input
                id="clrHighlight"
                type="color"
                value="#447888"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(23, 117, 143)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
          <tr style="">
            <td>Highlighted background 1</td>
            <td class="pull-right">
              <input
                id="clrHighlightBg"
                type="color"
                value="#447888"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(23, 117, 143)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
          <tr class="adClr" style="display: none">
            <td>Highlighted background 2</td>
            <td class="pull-right">
              <input
                id="clr2ndHover"
                type="color"
                value="#d3d3d3"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(211, 211, 211)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
          <tr class="adClr" style="display: none">
            <td>Highlighted for lexicon</td>
            <td class="pull-right">
              <input
                id="clrLexiconFocusBG"
                type="color"
                value="#C8D8DC"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(200, 216, 220)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
          <tr class="adClr" style="display: none">
            <td>Highlighted for related text</td>
            <td class="pull-right">
              <input
                id="clrRelatedWordBg"
                type="color"
                value="#B2E5F3"
                style="display: none"
              />
              <div class="sp-replacer sp-light">
                <div class="sp-preview">
                  <div
                    class="sp-preview-inner"
                    style="background-color: rgb(178, 229, 243)"
                  ></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br /><span
        ><p style="text-align: left; font-size: 18px">
          Examples for the selected color
        </p>
        <p class="passageContent" style="">Text without highlight</p>
        <p class="passageContent" style="color: var(--clrStrongText)">
          Highlighted text 1
        </p>
        <p class="passageContent" style="color: var(--clrHighlight)">
          Highlighted text 2
        </p>
        <p class="passageContent primaryLightBg" style="">
          Highlighted background 1
        </p>
        <p class="passageContent secondaryBackground" style="">
          Highlighted background 2
        </p>
        <p class="passageContent lexiconFocus" style="">
          Highlighted for lexicon
        </p>
        <p class="passageContent relatedWordEmphasisHover" style="">
          Highlighted for related text
        </p></span
      >
      <div class="footer">
        <button
          class="stepButton pull-right"
          data-dismiss="modal"
          onclick="closeFontSetting()"
        >
          <label>Гаразд</label></button
        ><button
          class="stepButton pull-right"
          style=""
          onclick="step.util.σuv()"
        >
          <label>Reset colors</label>
        </button>
      </div>
      <br />
    </div>
  </div>
</div>
