<div>
  <div
    class="modal selectModal in"
    id="bibleVersions"
    dir="ltr"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="false"
    style="display: block"
  >
    <div class="modal-dialog">
      <div class="modal-content stepModalFgBg">
        <div class="modal-body">
          <span class="pull-right"
            ><button
              type="button"
              style="
                background: var(--clrBackground);
                color: var(--clrText);
                opacity: 0.9;
              "
              class="close"
              data-dismiss="modal"
              onclick='step.util.closeModal("bibleVersions")'
            >
              X
            </button></span
          >
          <ul class="nav nav-tabs bookTypeTabs">
            <span
              class="pull-left"
              style="font-size: 13px; margin-top: 12px; font-weight: bold"
              >Book type:&nbsp;</span
            >
            <li class="pull-left active">
              <a
                href="#bibleList"
                data-toggle="tab"
                style="font-weight: bold; font-size: 13px"
                >Біблії</a
              >
            </li>
            <li class="pull-left">
              <a
                href="#commentaryList"
                data-toggle="tab"
                style="font-weight: normal; font-size: 12px"
                >Коментарі</a
              >
            </li>
          </ul>
          <span
            class="pull-left"
            style="font-size: 13px; margin-top: 9px; font-weight: bold"
            >Мова:&nbsp;</span
          >
          <form role="form" class="form-inline" style="margin-top: 8px">
            <span class="form-group btn-group" data-toggle="buttons"
              ><label class="btn btn-default btn-sm stepButton"
                ><input
                  type="radio"
                  name="languageFilter"
                  data-lang="_all"
                />Всі</label
              ><label class="btn btn-default btn-sm stepButton"
                ><input
                  type="radio"
                  name="languageFilter"
                  data-lang="en"
                  checked="checked"
                />англійська</label
              ><label
                class="btn btn-default btn-sm stepButton stepPressedButton active"
                ><input
                  type="radio"
                  name="languageFilter"
                  data-lang="uk"
                  %=""
                />Українська</label
              ><label class="btn btn-default btn-sm stepButton"
                ><input
                  type="radio"
                  name="languageFilter"
                  data-lang="ru"
                  %=""
                />російська</label
              ><label class="btn btn-default btn-sm stepButton"
                ><input
                  type="radio"
                  name="languageFilter"
                  data-lang="_ancient"
                />Стародавній</label
              ></span
            >
          </form>
          <label
            class="selectGeo"
            style="font-size: 16px; display: none"
            for="selectGeo"
            >Filter languges by geography:</label
          ><select
            class="selectGeo"
            onchange="step.util.σu3()"
            style="display: none"
          >
            <option value="all">All</option>
            <option value="africa">Africa</option>
            <option value="americas">Americas</option>
            <option value="east_south_east_asia">
              East and Southeast Asia
            </option>
            <option value="europe">Europe</option>
            <option value="oceania">Oceania</option>
            <option value="south_asia">South Asia</option>
            <option value="western_asia">Western Asia</option>
          </select>
          <div class="tab-content">
            <div class="tab-pane active" id="bibleList">
              <span class="langSpan span_Currently_showing"
                ><button
                  class="langBtn btn_Currently_showing stepButton stepPressedButton"
                >
                  Currently showing&nbsp;<span
                    class="langPlusMinus plusminus_Currently_showing"
                    >-</span
                  ></button
                ><br
              /></span>
              <ul class="list-group langUL ul_Currently_showing" style="">
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="THOT"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="THOT"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >THOT - Translators Hebrew Old Testament, 2019 with KQ
                    variants OT (Mar'21)</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=THOT"
                  ></a
                  ><span
                    class="BibleFeatures"
                    style="margin-top: 4px; float: right"
                  >
                    <span
                      class="versionFeature"
                      title="Нотатки та/або перехресні посилання."
                      >N</span
                    >
                    <span class="versionFeature" title="Граматика доступна"
                      >G</span
                    >
                    <span class="versionFeature" title="Доступний словник"
                      >V</span
                    >
                    <span
                      class="versionFeature"
                      title="Міжрядковий стиль доступний"
                      >I</span
                    >&nbsp;</span
                  >
                </li>
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="ESV"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="ESV"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >ESV - English Standard Version 2025</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=ESV"
                  ></a
                  ><span
                    class="BibleFeatures"
                    style="margin-top: 4px; float: right"
                  >
                    <span
                      class="versionFeature"
                      title="Можливість показати слова Ісуса в червоному"
                      >R</span
                    >
                    <span
                      class="versionFeature"
                      title="Нотатки та/або перехресні посилання."
                      >N</span
                    >
                    <span class="versionFeature" title="Граматика доступна"
                      >G</span
                    >
                    <span class="versionFeature" title="Доступний словник"
                      >V</span
                    >
                    <span
                      class="versionFeature"
                      title="Міжрядковий стиль доступний"
                      >I</span
                    >&nbsp;</span
                  >
                </li>
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="LXX"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="LXX"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >LXX - Septuagint, Morphologically Tagged Rahlfs'</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=LXX"
                  ></a
                  ><span
                    class="BibleFeatures"
                    style="margin-top: 4px; float: right"
                  >
                    <span
                      class="versionFeature"
                      title="Нотатки та/або перехресні посилання."
                      >N</span
                    >
                    <span class="versionFeature" title="Граматика доступна"
                      >G</span
                    >
                    <span class="versionFeature" title="Доступний словник"
                      >V</span
                    >
                    <span class="versionFeature" title="Міжрядкова Септуагінта"
                      >S</span
                    >&nbsp;</span
                  >
                </li>
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="Ukrainian"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="Ukrainian"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >Ukrainian - Українська Біблія. Переклад Івана Огієнка 1930
                    in Ukrainian</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=Ukrainian"
                  ></a
                  ><span
                    class="BibleFeatures"
                    style="margin-top: 4px; float: right"
                  >
                    <span
                      class="versionFeature"
                      title="Можливість показати слова Ісуса в червоному"
                      >R</span
                    >&nbsp;</span
                  >
                </li>
              </ul>
              <span class="langSpan span_українська"
                ><button
                  class="langBtn btn_українська stepButton stepPressedButton"
                >
                  українська&nbsp;<span
                    class="langPlusMinus plusminus_українська"
                    >-</span
                  ></button
                ><br
              /></span>
              <ul class="list-group langUL ul_українська" style="">
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="UkrKulish"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="UkrKulish"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >UkrKulish - Новий Завіт. Переклад П. Куліша 1871 in
                    Ukrainian</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=UkrKulish"
                  ></a
                  ><span
                    class="BibleFeatures"
                    style="margin-top: 4px; float: right"
                  >
                    <span
                      class="versionFeature"
                      title="Можливість показати слова Ісуса в червоному"
                      >R</span
                    >&nbsp;</span
                  >
                </li>
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="UkrNPU"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="UkrNPU"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >UkrNPU - New Ukrainian Translation 2022 (NT and Psalms) /
                    Новий Переклад Українською, Biblica 2020 | Ukraine,
                    Russia</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=UkrNPU"
                  ></a
                  ><span class="BibleFeatures" style="float: right">
                    <span
                      class="versionFeature"
                      title="Можливість показати слова Ісуса в червоному"
                      >R</span
                    >
                    <span
                      class="versionFeature"
                      title="Нотатки та/або перехресні посилання."
                      >N</span
                    >&nbsp;</span
                  >
                </li>
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="UkrOgienko"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="UkrOgienko"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >UkrOgienko - Українська Біблія. Переклад Івана Огієнка.</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=UkrOgienko"
                  ></a
                  ><span
                    class="BibleFeatures"
                    style="margin-top: 4px; float: right"
                  >
                    <span
                      class="versionFeature"
                      title="Нотатки та/або перехресні посилання."
                      >N</span
                    >&nbsp;</span
                  >
                </li>
                <li
                  class="list-group-item stepModalFgBg"
                  data-initials="Ukrainian"
                  style="padding-left: 1.5em; text-indent: -1.5em"
                >
                  <input
                    class="list-group-checkbox"
                    type="checkbox"
                    input-initials="Ukrainian"
                    style="margin-left: 3px"
                  />&nbsp;<a class="resource" href="javascript:void(0)"
                    >Ukrainian - Українська Біблія. Переклад Івана Огієнка 1930
                    in Ukrainian</a
                  >&rlm;<a
                    class="glyphicon glyphicon-info-sign"
                    style="display: inline; margin-left: 10px"
                    title="Інформація про цю Біблію/Коментарі"
                    target="_blank"
                    href="https://www.stepbible.org/version.jsp?version=Ukrainian"
                  ></a
                  ><span
                    class="BibleFeatures"
                    style="margin-top: 4px; float: right"
                  >
                    <span
                      class="versionFeature"
                      title="Можливість показати слова Ісуса в червоному"
                      >R</span
                    >&nbsp;</span
                  >
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="commentaryList"></div>
          </div>
          <div class="modal-footer">
            <p>
              Features: N=Notes G=Grammar V=Vocab I=Interlinear S=Septuagint
              interlinear
            </p>
            <span class="tagLine">Показ 8 із 700 Біблій та коментарів</span
            ><input
              type="text"
              id="enterYourTranslation"
              style="font-size: 14px; height: 24px"
              placeholder="Optionally search"
            /><button
              id="order_button_bible_modal"
              class="btn btn-default btn-sm stepButton"
              data-dismiss="modal"
            >
              <label>Update display order</label></button
            ><button
              id="ok_button_bible_modal"
              class="btn btn-default btn-sm stepButton"
              data-dismiss="modal"
            >
              <label>Гаразд</label>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
