<div class="passageContent">
  <div
    tabindex="-1"
    style="direction: ltr; font-size: 15px"
    class="passageContentHolder unicodeFont"
  >
    <h2 class="xgen">
      &rlm; Буття 1<button
        style="font-size: 10px; line-height: 10px; vertical-align: middle"
        type="button"
        onclick="step.util.σut('Gen.1')"
        title="Show summary information"
        class="stepButton"
      >
        Резюме
      </button>
    </h2>
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.1" class="verseLink"><span class="verseNumber">1</span></a
      ><a name="Gen.1.1" class="verseLink"></a
      ><span morph="robinson:PREP" strong="G1722">Ἐν</span>
      <span morph="robinson:N-DSF" strong="G0746">ἀρχῇ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-ASM" strong="G3588">τὸν</span>
      <span morph="robinson:N-ASM" strong="G3772">οὐρανὸν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-ASF" strong="G3588">τὴν</span>
      <span morph="robinson:N-ASF" strong="G1093G">γῆν.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.2" class="verseLink"><span class="verseNumber">2</span></a
      ><a name="Gen.1.2" class="verseLink"></a
      ><span morph="robinson:T-NSF" strong="G3588">ἡ</span>
      <span morph="robinson:PRT" strong="G1161">δὲ</span>
      <span morph="robinson:N-NSF" strong="G1093G">γῆ</span>
      <span morph="robinson:V-IAI-3S" strong="G2258">ἦν</span>
      <span morph="robinson:A-NSM" strong="G0517">ἀόρατος</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-NSM" strong="GA-NSM">ἀκατασκεύαστος,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:N-NSN" strong="G4655">σκότος</span>
      <span morph="robinson:PREP" strong="G1883">ἐπάνω</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G0012" class="">ἀβύσσου,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:N-NSN" strong="G4151G">πνεῦμα</span>
      <span morph="robinson:N-GSM" strong="G2316">θεοῦ</span>
      <span morph="robinson:V-IMI-3S" strong="G2018">ἐπεφέρετο</span>
      <span morph="robinson:PREP" strong="G1883">ἐπάνω</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G5204">ὕδατος.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.3" class="verseLink"><span class="verseNumber">3</span></a
      ><a name="Gen.1.3" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-APM-3S" strong="G1096" class="">Γενηθήτω</span>
      <span morph="robinson:N-NSN" strong="G5457">φῶς.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:N-NSN" strong="G5457">φῶς.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.4" class="verseLink"><span class="verseNumber">4</span></a
      ><a name="Gen.1.4" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-ASN" strong="G3588">τὸ</span>
      <span morph="robinson:N-ASN" strong="G5457">φῶς</span>
      <span morph="robinson:CONJ" strong="G3754G">ὅτι</span>
      <span morph="robinson:A-NSN" strong="G2570G" class="">καλόν.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="GV-AAI-3S">διεχώρισεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G5457">φωτὸς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G4655">σκότους.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.5" class="verseLink"><span class="verseNumber">5</span></a
      ><a name="Gen.1.5" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2564H">ἐκάλεσεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-ASN" strong="G3588">τὸ</span>
      <span morph="robinson:N-ASN" strong="G5457">φῶς</span>
      <span morph="robinson:N-ASF" strong="G2250">ἡμέραν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-ASN" strong="G3588">τὸ</span>
      <span morph="robinson:N-ASN" strong="G4655">σκότος</span>
      <span morph="robinson:V-AAI-3S" strong="G2564H">ἐκάλεσεν</span>
      <span morph="robinson:N-ASF" strong="G3571">νύκτα.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:N-NSF" strong="G2073" class="">ἑσπέρα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G4404">πρωί,</span>
      <span morph="robinson:N-NSF" strong="G2250">ἡμέρα</span>
      <span morph="robinson:A-NSF" strong="G1520" class="">μία.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.6" class="verseLink"><span class="verseNumber">6</span></a
      ><a name="Gen.1.6" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-APM-3S" strong="G1096" class="">Γενηθήτω</span>
      <span morph="robinson:N-NSN" strong="G4733">στερέωμα</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:A-DSM" strong="G3319">μέσῳ</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G5204">ὕδατος</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PAM-3S" strong="G2077">ἔστω</span>
      <span morph="robinson:V-PAPRS" strong="GV-PAPRS">διαχωρίζον</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:N-GSN" strong="G5204">ὕδατος</span>
      <span morph="robinson:CONJ" strong="G2532" class="">Καὶ</span>
      <span morph="robinson:N-GSN" strong="G5204">ὕδατος.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G3779">οὕτως.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.7" class="verseLink"><span class="verseNumber">7</span></a
      ><a name="Gen.1.7" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-ASN" strong="G3588">τὸ</span>
      <span morph="robinson:N-ASN" strong="G4733">στερέωμα,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="GV-AAI-3S">διεχώρισεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G5204">ὕδατος,</span>
      <span morph="robinson:R-NSN" strong="G3588">ὃ</span>
      <span morph="robinson:V-IAI-3S" strong="G2258">ἦν</span>
      <span morph="robinson:PREP" strong="G5270">ὑποκάτω</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G4733">στερεώματος,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G5204">ὕδατος</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:PREP" strong="G1883">ἐπάνω</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G4733">στερεώματος.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.8" class="verseLink"><span class="verseNumber">8</span></a
      ><a name="Gen.1.8" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2564H">ἐκάλεσεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-ASN" strong="G3588">τὸ</span>
      <span morph="robinson:N-ASN" strong="G4733">στερέωμα</span>
      <span morph="robinson:N-ASM" strong="G3772">οὐρανόν.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:CONJ" strong="G3754G">ὅτι</span>
      <span morph="robinson:A-NSN" strong="G2570G" class="">καλόν.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:N-NSF" strong="G2073" class="">ἑσπέρα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G4404">πρωί,</span>
      <span morph="robinson:N-NSF" strong="G2250">ἡμέρα</span>
      <span morph="robinson:A-NSF" strong="G1208">δευτέρα.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.9" class="verseLink"><span class="verseNumber">9</span></a
      ><a name="Gen.1.9" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-APM-3S" strong="G4863">Συναχθήτω</span>
      <span morph="robinson:T-NSN" strong="G3588">τὸ</span>
      <span morph="robinson:N-NSN" strong="G5204">ὕδωρ</span>
      <span morph="robinson:T-NSN" strong="G3588">τὸ</span>
      <span morph="robinson:PREP" strong="G5270">ὑποκάτω</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-ASF" strong="G4864">συναγωγὴν</span>
      <span morph="robinson:A-ASF" strong="G1520" class="">μίαν,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-APM-3S" strong="G3708H">ὀφθήτω</span>
      <span morph="robinson:T-NSF" strong="G3588">ἡ</span>
      <span morph="robinson:A-NSF" strong="G3584" class="">ξηρά.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G3779">οὕτως.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">Καὶ</span>
      <span morph="robinson:V-API-3S" strong="G4863">συνήχθη</span>
      <span morph="robinson:T-NSN" strong="G3588">τὸ</span>
      <span morph="robinson:N-NSN" strong="G5204">ὕδωρ</span>
      <span morph="robinson:T-NSN" strong="G3588">τὸ</span>
      <span morph="robinson:PREP" strong="G5270">ὑποκάτω</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:T-APF" strong="G3588">τὰς</span>
      <span morph="robinson:N-APF" strong="G4864">συναγωγὰς</span>
      <span morph="robinson:D-GPM" strong="G0846" class="">αὐτῶν,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-API-3S" strong="G3700" class="">ὤφθη</span>
      <span morph="robinson:T-NSF" strong="G3588">ἡ</span>
      <span morph="robinson:A-NSF" strong="G3584" class="">ξηρά.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.10" class="verseLink"
        ><span class="verseNumber">10</span></a
      ><a name="Gen.1.10" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2564H">ἐκάλεσεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-ASF" strong="G3588">τὴν</span>
      <span morph="robinson:A-ASF" strong="G3584" class="">ξηρὰν</span>
      <span morph="robinson:N-ASF" strong="G1093G">γῆν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:N-APN" strong="GN-APN">συστήματα</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPN" strong="G5204">ὑδάτων</span>
      <span morph="robinson:V-AAI-3S" strong="G2564H">ἐκάλεσεν</span>
      <span morph="robinson:N-APF" strong="G2281">θαλάσσας.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:CONJ" strong="G3754G">ὅτι</span>
      <span morph="robinson:A-NSN" strong="G2570G" class="">καλόν.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.11" class="verseLink"
        ><span class="verseNumber">11</span></a
      ><a name="Gen.1.11" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-AAM-3S" strong="G0985">Βλαστησάτω</span>
      <span morph="robinson:T-NSF" strong="G3588">ἡ</span>
      <span morph="robinson:N-NSF" strong="G1093G">γῆ</span>
      <span morph="robinson:N-ASF" strong="G1008">βοτάνην</span>
      <span morph="robinson:N-GSM" strong="G5528">χόρτου,</span>
      <span morph="robinson:V-PAPRS" strong="G4687">σπεῖρον</span>
      <span morph="robinson:N-ASN" strong="G4690H" class="">σπέρμα</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G2596">καθ'</span>
      <span morph="robinson:N-ASF" strong="G3665">ὁμοιότητα,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:N-ASN" strong="G3586">ξύλον</span>
      <span morph="robinson:A-ASN" strong="GA-ASN">κάρπιμον</span>
      <span morph="robinson:V-PAPAS" strong="G4160G" class="">ποιοῦν</span>
      <span morph="robinson:N-ASM" strong="G2590" class="">καρπόν,</span>
      <span morph="robinson:R-GSM" strong="G3756">οὗ</span>
      <span morph="robinson:T-NSN" strong="G3588">τὸ</span>
      <span morph="robinson:N-NSN" strong="G4690H" class="">σπέρμα</span>
      <span morph="robinson:D-GSN" strong="G0846" class="">αὐτοῦ</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:D-DSM" strong="G0846" class="">αὐτῷ</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G3779">οὕτως.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.12" class="verseLink"
        ><span class="verseNumber">12</span></a
      ><a name="Gen.1.12" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1627">ἐξήνεγκεν</span>
      <span morph="robinson:T-NSF" strong="G3588">ἡ</span>
      <span morph="robinson:N-NSF" strong="G1093G">γῆ</span>
      <span morph="robinson:N-ASF" strong="G1008">βοτάνην</span>
      <span morph="robinson:N-GSM" strong="G5528">χόρτου,</span>
      <span morph="robinson:V-PAPRS" strong="G4687">σπεῖρον</span>
      <span morph="robinson:N-ASN" strong="G4690H" class="">σπέρμα</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G2596">καθ'</span>
      <span morph="robinson:N-ASF" strong="G3665">ὁμοιότητα,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:N-ASN" strong="G3586">ξύλον</span>
      <span morph="robinson:A-ASN" strong="GA-ASN">κάρπιμον</span>
      <span morph="robinson:V-PAPAS" strong="G4160G" class="">ποιοῦν</span>
      <span morph="robinson:N-ASM" strong="G2590" class="">καρπόν,</span>
      <span morph="robinson:R-GSM" strong="G3756">οὗ</span>
      <span morph="robinson:T-NSN" strong="G3588">τὸ</span>
      <span morph="robinson:N-NSN" strong="G4690H" class="">σπέρμα</span>
      <span morph="robinson:D-GSN" strong="G0846" class="">αὐτοῦ</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:D-DSM" strong="G0846" class="">αὐτῷ</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:CONJ" strong="G3754G">ὅτι</span>
      <span morph="robinson:A-NSN" strong="G2570G" class="">καλόν.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.13" class="verseLink"
        ><span class="verseNumber">13</span></a
      ><a name="Gen.1.13" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:N-NSF" strong="G2073" class="">ἑσπέρα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G4404">πρωί,</span>
      <span morph="robinson:N-NSF" strong="G2250">ἡμέρα</span>
      <span morph="robinson:A-NSF" strong="G5154">τρίτη.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.14" class="verseLink"
        ><span class="verseNumber">14</span></a
      ><a name="Gen.1.14" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-APM-3P" strong="G1096" class="">Γενηθήτωσαν</span>
      <span morph="robinson:N-NPM" strong="G5458">φωστῆρες</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:T-DSN" strong="G3588">τῷ</span>
      <span morph="robinson:N-DSN" strong="G4733">στερεώματι</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-ASF" strong="GN-ASF">φαῦσιν</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:V-PAR" strong="GV-PAR">διαχωρίζειν</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G2250">ἡμέρας</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G3571">νυκτὸς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PAM-3P" strong="G2077">ἔστωσαν</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-APN" strong="G4592">σημεῖα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-APM" strong="G2540">καιροὺς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">Καὶ</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-APF" strong="G2250">ἡμέρας</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-APM" strong="G1763">ἐνιαυτοὺς</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.15" class="verseLink"
        ><span class="verseNumber">15</span></a
      ><a name="Gen.1.15" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PAM-3P" strong="G2077">ἔστωσαν</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-ASF" strong="GN-ASF">φαῦσιν</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:T-DSN" strong="G3588">τῷ</span>
      <span morph="robinson:N-DSN" strong="G4733">στερεώματι</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:CONJ" strong="G5620">ὥστε</span>
      <span morph="robinson:V-PAR" strong="G5316">φαίνειν</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G3779">οὕτως.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.16" class="verseLink"
        ><span class="verseNumber">16</span></a
      ><a name="Gen.1.16" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-APM" strong="G3588">τοὺς</span>
      <span morph="robinson:N-NUI" strong="G1417">δύο</span>
      <span morph="robinson:N-APM" strong="G5458">φωστῆρας</span>
      <span morph="robinson:T-APM" strong="G3588">τοὺς</span>
      <span morph="robinson:A-APM" strong="G3173">μεγάλους,</span>
      <span morph="robinson:T-ASM" strong="G3588">τὸν</span>
      <span morph="robinson:N-ASM" strong="G5458">φωστῆρα</span>
      <span morph="robinson:T-ASM" strong="G3588">τὸν</span>
      <span morph="robinson:A-ASM" strong="G3173">μέγαν</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-APF" strong="G0746">ἀρχὰς</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G2250">ἡμέρας</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-ASM" strong="G3588">τὸν</span>
      <span morph="robinson:N-ASM" strong="G5458">φωστῆρα</span>
      <span morph="robinson:T-ASM" strong="G3588">τὸν</span>
      <span morph="robinson:A-ASMC" strong="G1640">ἐλάσσω</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-APF" strong="G0746">ἀρχὰς</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G3571">νυκτός,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-APM" strong="G3588">τοὺς</span>
      <span morph="robinson:N-APM" strong="G0792">ἀστέρας.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.17" class="verseLink"
        ><span class="verseNumber">17</span></a
      ><a name="Gen.1.17" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G5087">ἔθετο</span>
      <span morph="robinson:D-APM" strong="G0846" class="">αὐτοὺς</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:T-DSN" strong="G3588">τῷ</span>
      <span morph="robinson:N-DSN" strong="G4733">στερεώματι</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:CONJ" strong="G5620">ὥστε</span>
      <span morph="robinson:V-PAR" strong="G5316">φαίνειν</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.18" class="verseLink"
        ><span class="verseNumber">18</span></a
      ><a name="Gen.1.18" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PAR" strong="G0757">ἄρχειν</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G2250">ἡμέρας</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G3571">νυκτὸς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PAR" strong="GV-PAR">διαχωρίζειν</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G5457">φωτὸς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G0303">ἀνὰ</span>
      <span morph="robinson:A-ASM" strong="G3319">μέσον</span>
      <span morph="robinson:T-GSN" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSN" strong="G4655">σκότους.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:CONJ" strong="G3754G">ὅτι</span>
      <span morph="robinson:A-NSN" strong="G2570G" class="">καλόν.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.19" class="verseLink"
        ><span class="verseNumber">19</span></a
      ><a name="Gen.1.19" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:N-NSF" strong="G2073" class="">ἑσπέρα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G4404">πρωί,</span>
      <span morph="robinson:N-NSF" strong="G2250">ἡμέρα</span>
      <span morph="robinson:A-NSF" strong="G5067">τετάρτη.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.20" class="verseLink"
        ><span class="verseNumber">20</span></a
      ><a name="Gen.1.20" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-AAM-3S" strong="G1806">Ἐξαγαγέτω</span>
      <span morph="robinson:T-NPN" strong="G3588">τὰ</span>
      <span morph="robinson:N-NPN" strong="G5204">ὕδατα</span>
      <span morph="robinson:N-APN" strong="G2062">ἑρπετὰ</span>
      <span morph="robinson:N-GPF" strong="G5590K">ψυχῶν</span>
      <span morph="robinson:V-PAPGP" strong="G2198">ζωσῶν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">Καὶ</span>
      <span morph="robinson:N-APN" strong="G4071">πετεινὰ</span>
      <span morph="robinson:V-PMPAP" strong="G4072">πετόμενα</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:T-ASN" strong="G3588">τὸ</span>
      <span morph="robinson:N-ASN" strong="G4733">στερέωμα</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G3779">οὕτως.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.21" class="verseLink"
        ><span class="verseNumber">21</span></a
      ><a name="Gen.1.21" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:N-APN" strong="G2785">κήτη</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:A-APN" strong="G3173">μεγάλα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-ASF" strong="G3956">πᾶσαν</span>
      <span morph="robinson:N-ASF" strong="G5590K">ψυχὴν</span>
      <span morph="robinson:N-GPN" strong="G2226">ζῴων</span>
      <span morph="robinson:N-GPN" strong="G2062">ἑρπετῶν,</span>
      <span morph="robinson:R-APN" strong="G3739">ἃ</span>
      <span morph="robinson:V-AAI-3S" strong="G1806">ἐξήγαγεν</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:N-APN" strong="G5204">ὕδατα</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-APN" strong="G1085G">γένη</span>
      <span morph="robinson:D-GPN" strong="G0846" class="">αὐτῶν,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-ASN" strong="G3956">πᾶν</span>
      <span morph="robinson:N-ASN" strong="G4071">πετεινὸν</span>
      <span morph="robinson:A-ASN" strong="GA-ASN">πτερωτὸν</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085G">γένος.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:CONJ" strong="G3754G">ὅτι</span>
      <span morph="robinson:A-APN" strong="G2570G" class="">καλά.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.22" class="verseLink"
        ><span class="verseNumber">22</span></a
      ><a name="Gen.1.22" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2127">ηὐλόγησεν</span>
      <span morph="robinson:D-APN" strong="G0846" class="">αὐτὰ</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:V-PAPRS" strong="G3004G">λέγων</span>
      <span morph="robinson:V-PMM-2P" strong="G0837">Αὐξάνεσθε</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PMM-2P" strong="G4129">πληθύνεσθε</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAM-2P" strong="G4137">πληρώσατε</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:N-APN" strong="G5204">ὕδατα</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:T-DPF" strong="G3588">ταῖς</span>
      <span morph="robinson:N-DPF" strong="G2281">θαλάσσαις,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-NPN" strong="G3588">τὰ</span>
      <span morph="robinson:N-NPN" strong="G4071">πετεινὰ</span>
      <span morph="robinson:V-AMM-3P" strong="G4129">πληθυνέσθωσαν</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.23" class="verseLink"
        ><span class="verseNumber">23</span></a
      ><a name="Gen.1.23" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:N-NSF" strong="G2073" class="">ἑσπέρα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G4404">πρωί,</span>
      <span morph="robinson:N-NSF" strong="G2250">ἡμέρα</span>
      <span morph="robinson:A-NSF" strong="G3991">πέμπτη.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.24" class="verseLink"
        ><span class="verseNumber">24</span></a
      ><a name="Gen.1.24" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-AAM-3S" strong="G1806">Ἐξαγαγέτω</span>
      <span morph="robinson:T-NSF" strong="G3588">ἡ</span>
      <span morph="robinson:N-NSF" strong="G1093I">γῆ</span>
      <span morph="robinson:N-ASF" strong="G5590K">ψυχὴν</span>
      <span morph="robinson:V-PAPAS" strong="G2198">ζῶσαν</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος,</span>
      <span morph="robinson:A-APN" strong="G5074">τετράποδα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:N-APN" strong="G2062">ἑρπετὰ</span>
      <span morph="robinson:CONJ" strong="G2532" class="">Καὶ</span>
      <span morph="robinson:N-APN" strong="G2342">θηρία</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093I">γῆς</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G3779">οὕτως.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.25" class="verseLink"
        ><span class="verseNumber">25</span></a
      ><a name="Gen.1.25" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:N-APN" strong="G2342">θηρία</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:N-APN" strong="G2934">κτήνη</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-APN" strong="G3956">πάντα</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:N-APN" strong="G2062">ἑρπετὰ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς</span>
      <span morph="robinson:PREP" strong="G2596">κατὰ</span>
      <span morph="robinson:N-ASN" strong="G1085H">γένος</span>
      <span morph="robinson:D-GPN" strong="G0846" class="">αὐτῶν.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:CONJ" strong="G3754G">ὅτι</span>
      <span morph="robinson:A-APN" strong="G2570G" class="">καλά.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.26" class="verseLink"
        ><span class="verseNumber">26</span></a
      ><a name="Gen.1.26" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:V-AAS-1P" strong="G4160H" class="">Ποιήσωμεν</span>
      <span morph="robinson:N-ASM" strong="G0444">ἄνθρωπον</span>
      <span morph="robinson:PREP" strong="G2596">κατ'</span>
      <span morph="robinson:N-ASF" strong="G1504">εἰκόνα</span>
      <span morph="robinson:A-ASF" strong="G2251">ἡμετέραν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:PREP" strong="G2596">καθ'</span>
      <span morph="robinson:N-ASF" strong="G3669">ὁμοίωσιν,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PAM-3P" strong="G0757">ἀρχέτωσαν</span>
      <span morph="robinson:T-GPM" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPM" strong="G2486">ἰχθύων</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G2281">θαλάσσης</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPN" strong="G4071">πετεινῶν</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPN" strong="G2934">κτηνῶν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-GSF" strong="G3956">πάσης</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093I">γῆς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-GPN" strong="G3956">πάντων</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPN" strong="G2062">ἑρπετῶν</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:V-PAPGP" strong="GV-PAPGP">ἑρπόντων</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093I">γῆς.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.27" class="verseLink"
        ><span class="verseNumber">27</span></a
      ><a name="Gen.1.27" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-ASM" strong="G3588">τὸν</span>
      <span morph="robinson:N-ASM" strong="G0444">ἄνθρωπον,</span>
      <span morph="robinson:PREP" strong="G2596">κατ'</span>
      <span morph="robinson:N-ASF" strong="G1504">εἰκόνα</span>
      <span morph="robinson:N-GSM" strong="G2316">θεοῦ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:D-ASM" strong="G0846" class="">αὐτόν,</span>
      <span morph="robinson:A-ASN" strong="G0730" class="">ἄρσεν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-ASN" strong="G2338">θῆλυ</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν</span>
      <span morph="robinson:D-APM" strong="G0846" class="">αὐτούς.</span>
    </span>
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.28" class="verseLink"
        ><span class="verseNumber">28</span></a
      ><a name="Gen.1.28" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2127">ηὐλόγησεν</span>
      <span morph="robinson:D-APM" strong="G0846" class="">αὐτοὺς</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:V-PAPRS" strong="G3004G">λέγων</span>
      <span morph="robinson:V-PMM-2P" strong="G0837">Αὐξάνεσθε</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PMM-2P" strong="G4129">πληθύνεσθε</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAM-2P" strong="G4137">πληρώσατε</span>
      <span morph="robinson:T-ASF" strong="G3588">τὴν</span>
      <span morph="robinson:N-ASF" strong="G1093I">γῆν</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAM-2P" strong="G2634">κατακυριεύσατε</span>
      <span morph="robinson:D-GSF" strong="G0846" class="">αὐτῆς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-PAI-2P" strong="G0757">ἄρχετε</span>
      <span morph="robinson:T-GPM" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPM" strong="G2486">ἰχθύων</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G2281">θαλάσσης</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPN" strong="G4071">πετεινῶν</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-GPN" strong="G3956">πάντων</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPN" strong="G2934">κτηνων</span>
      <span morph="robinson:CONJ" strong="G2532" class="">και</span>
      <span morph="robinson:A-GSF" strong="G3956">πασης</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093I">γῆς.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">και</span>
      <span morph="robinson:A-GPN" strong="G3956">παντων</span>
      <span morph="robinson:T-GPN" strong="G3588">τῶν</span>
      <span morph="robinson:N-GPN" strong="G2062">ἑρπετῶν</span>
      <span morph="robinson:T-GPN" strong="G3588">των</span>
      <span morph="robinson:V-PAPGP" strong="GV-PAPGP">ἑρπόντων</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">της</span>
      <span morph="robinson:N-GSF" strong="G1093I">γης</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.29" class="verseLink"
        ><span class="verseNumber">29</span></a
      ><a name="Gen.1.29" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G2036">εἶπεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεός</span>
      <span morph="robinson:INJ" strong="G2400">Ἰδοὺ</span>
      <span morph="robinson:V-RAI-1S" strong="G1325">δέδωκα</span>
      <span morph="robinson:P-DP" strong="G5213">ὑμῖν</span>
      <span morph="robinson:A-ASN" strong="G3956">πᾶν</span>
      <span morph="robinson:N-ASM" strong="G5528">χόρτον</span>
      <span morph="robinson:A-ASM" strong="G4702">σπόριμον</span>
      <span morph="robinson:V-PAPAS" strong="G4687">σπεῖρον</span>
      <span morph="robinson:N-ASN" strong="G4690H" class="">σπέρμα,</span>
      <span morph="robinson:R-NSN" strong="G3588">ὅ</span>
      <span morph="robinson:V-PAI-3S" strong="G2076">ἐστιν</span>
      <span morph="robinson:PREP" strong="G1883">ἐπάνω</span>
      <span morph="robinson:A-GSF" strong="G3956">πάσης</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093G">γῆς,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-ASN" strong="G3956">πᾶν</span>
      <span morph="robinson:N-ASN" strong="G3586">ξύλον,</span>
      <span morph="robinson:R-NSN" strong="G3588">ὃ</span>
      <span morph="robinson:V-PAI-3S" strong="G2192">ἔχει</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:D-DSM" strong="G1438">ἑαυτῷ</span>
      <span morph="robinson:N-ASM" strong="G2590" class="">καρπὸν</span>
      <span morph="robinson:N-GSN" strong="G4690H" class="">σπέρματος</span>
      <span morph="robinson:A-GSN" strong="G4702">σπορίμου</span>
      <span morph="robinson:P-DP" strong="G5213">ὑμῖν</span>
      <span morph="robinson:V-FMI-3S" strong="G2071">ἔσται</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-ASF" strong="G1035">βρῶσιν</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.30" class="verseLink"
        ><span class="verseNumber">30</span></a
      ><a name="Gen.1.30" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-DPN" strong="G3956">πᾶσι</span>
      <span morph="robinson:T-DPN" strong="G3588">τοῖς</span>
      <span morph="robinson:N-DPN" strong="G2342">θηρίοις</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093I">γῆς</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-DPN" strong="G3956">πᾶσι</span>
      <span morph="robinson:T-DPN" strong="G3588">τοῖς</span>
      <span morph="robinson:N-DPN" strong="G4071">πετεινοῖς</span>
      <span morph="robinson:T-GSM" strong="G3588">τοῦ</span>
      <span morph="robinson:N-GSM" strong="G3772">οὐρανοῦ</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:A-DSN" strong="G3839">παντὶ</span>
      <span morph="robinson:N-DSN" strong="G2062">ἑρπετῷ</span>
      <span morph="robinson:T-DSN" strong="G3588">τῷ</span>
      <span morph="robinson:V-PAPMS" strong="GV-PAPMS">ἕρποντι</span>
      <span morph="robinson:PREP" strong="G1909">ἐπὶ</span>
      <span morph="robinson:T-GSF" strong="G3588">τῆς</span>
      <span morph="robinson:N-GSF" strong="G1093I">γῆς,</span>
      <span morph="robinson:R-NSN" strong="G3588">ὃ</span>
      <span morph="robinson:V-PAI-3S" strong="G2192">ἔχει</span>
      <span morph="robinson:PREP" strong="G1722">ἐν</span>
      <span morph="robinson:D-DSM" strong="G1438">ἑαυτῷ</span>
      <span morph="robinson:N-ASF" strong="G5590H">ψυχὴν</span>
      <span morph="robinson:N-GSF" strong="G2222">ζωῆς,</span>
      <span morph="robinson:A-ASM" strong="G3956">πάντα</span>
      <span morph="robinson:N-ASM" strong="G5528">χόρτον</span>
      <span morph="robinson:A-ASM" strong="G5515">χλωρὸν</span>
      <span morph="robinson:PREP" strong="G1519">εἰς</span>
      <span morph="robinson:N-ASF" strong="G1035">βρῶσιν.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G3779">οὕτως.</span></span
    >
    <span dir="ltr" class="verse ltrDirection"
      ><a name="Gen.1.31" class="verseLink"
        ><span class="verseNumber">31</span></a
      ><a name="Gen.1.31" class="verseLink"></a
      ><span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AAI-3S" strong="G1492H" class="">εἶδεν</span>
      <span morph="robinson:T-NSM" strong="G3588">ὁ</span>
      <span morph="robinson:N-NSM" strong="G2316">θεὸς</span>
      <span morph="robinson:T-APN" strong="G3588">τὰ</span>
      <span morph="robinson:A-APN" strong="G3956">πάντα,</span>
      <span morph="robinson:A-APN" strong="G3745">ὅσα</span>
      <span morph="robinson:V-AAI-3S" strong="G4160H" class="">ἐποίησεν,</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:INJ" strong="G2400">ἰδοὺ</span>
      <span morph="robinson:A-APN" strong="G2570G" class="">καλὰ</span>
      <span morph="robinson:ADV" strong="G3029">λίαν.</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:N-NSF" strong="G2073" class="">ἑσπέρα</span>
      <span morph="robinson:CONJ" strong="G2532" class="">καὶ</span>
      <span morph="robinson:V-AMI-3S" strong="G1096" class="">ἐγένετο</span>
      <span morph="robinson:ADV" strong="G4404">πρωί,</span>
      <span morph="robinson:N-NSF" strong="G2250">ἡμέρα</span>
      <span morph="robinson:A-NSF" strong="G1623">ἕκτη.</span></span
    >
  </div>
  <div class="copyrightInfo">
    Інформацію про авторські права для
    <a href="/version.jsp?version=LXX" target="_new">LXX</a>
    <div></div>
  </div>
</div>
