<div class="passageOptionsGroup">
  <div class="pull-right">
    <span class="nextPreviousChapterGroup" style="display: block">
      <a
        class="previousChapter"
        href="/?q=version=THOT@reference=Gen.1"
        title="Відображає попередній розділ"
        style="display: inline"
      >
        <i class="glyphicon glyphicon-arrow-left"></i>
      </a>
      <a
        class="nextChapter"
        href="/?q=version=THOT@reference=Gen.2"
        title="Відображає наступний розділ"
        style="display: inline"
      >
        <i class="glyphicon glyphicon-arrow-right"></i>
      </a>
    </span>
    <span id="thumbsup" class="dropdown hidden-xs">
      <a
        class="dropdown-share"
        data-toggle="dropdown"
        title="Facebook, Tweet, Google +..."
      >
        <i class="glyphicon glyphicon-thumbs-up"></i>
      </a>
      <div class="dropdown-menu pull-right" role="menu">
        <ul>
          <li>
            <iframe
              id="twitter-widget-1"
              scrolling="no"
              frameborder="0"
              allowtransparency="true"
              allowfullscreen="true"
              class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
              title="X Post Button"
              src="https://platform.twitter.com/widgets/tweet_button.2f70fb173b9000da126c79afe2098f02.en.html#dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=https%3A%2F%2Fwww.stepbible.org%2F%3Fq%3Dversion%3DTHOT%40version%3DUkrOgienko%40version%3DLXX%40reference%3DGen.1%26options%3DUVNGH%26display%3DINTERLEAVED&amp;size=m&amp;text=%D0%91%D1%83%D1%82%D1%82%D1%8F%201%20%7C%20THOT%20%7C%20STEP%20%7C%20%D7%91%D6%B0%D6%BC%D7%A8%D6%B5%D7%90%D7%A9%D6%B4%D7%81%D7%99%D7%AA%20%D7%91%D6%B8%D6%BC%D7%A8%D6%B8%D7%90%20%D7%90%D6%B1%D7%9C%D6%B9%D7%94%D6%B4%D7%99%D7%9D%20%D7%90%D6%B5%D7%AA%20%D7%94%D6%B7%D7%A9%D6%B8%D6%BC%D7%81%D7%9E%D6%B7%D7%99%D6%B4%D7%9D%20%D7%95%D6%B0%D7%90%D6%B5%D7%AA%20%D7%94%D6%B8%D7%90%D6%B8%D6%BD%D7%A8%D6%B6%D7%A5%D7%83%20&amp;time=1760798099030&amp;type=share&amp;url=http%3A%2F%2Fwww.stepbible.org%2F%3Fq%3Dversion%3DTHOT%40version%3DUkrOgienko%40version%3DLXX%40reference%3DGen.1%26options%3DUVNGH%26display%3DINTERLEAVED&amp;via=Tyndale_House"
              style="
                position: static;
                visibility: visible;
                width: 65px;
                height: 20px;
              "
              data-url="http://www.stepbible.org/?q=version=THOT@version=UkrOgienko@version=LXX@reference=Gen.1&amp;options=UVNGH&amp;display=INTERLEAVED"
            ></iframe>
          </li>
          <li>
            <fb:share-button
              type="button_count"
              href="http://www.stepbible.org/?q=version=THOT@version=UkrOgienko@version=LXX@reference=Gen.1&amp;options=UVNGH&amp;display=INTERLEAVED"
              class="fb_iframe_widget"
              fb-xfbml-state="rendered"
              fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fwww.stepbible.org%2F%3Fq%3Dversion%3DTHOT%40version%3DUkrOgienko%40version%3DLXX%40reference%3DGen.1%26options%3DUVNGH%26display%3DINTERLEAVED&amp;locale=en_GB&amp;sdk=joey&amp;type=button_count"
            >
              <span style="vertical-align: bottom; width: 77px; height: 20px">
                <iframe
                  name="fc959d15c1e105ee2"
                  width="1000px"
                  height="1000px"
                  data-testid="fb:share_button Facebook Social Plugin"
                  title="fb:share_button Facebook Social Plugin"
                  frameborder="0"
                  allowtransparency="true"
                  allowfullscreen="true"
                  scrolling="no"
                  allow="encrypted-media"
                  src="https://www.facebook.com/plugins/share_button.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df11fbe54999bc9b9d%26domain%3Dwww.stepbible.org%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.stepbible.org%252Ffc1ea7552c42052b4%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.stepbible.org%2F%3Fq%3Dversion%3DTHOT%40version%3DUkrOgienko%40version%3DLXX%40reference%3DGen.1%26options%3DUVNGH%26display%3DINTERLEAVED&amp;locale=en_GB&amp;sdk=joey&amp;type=button_count"
                  style="
                    border: none;
                    visibility: visible;
                    width: 77px;
                    height: 20px;
                  "
                  class=""
                ></iframe>
              </span>
            </fb:share-button>
          </li>
        </ul>
      </div>
    </span>
    <span class="hidden-xs">
      <a
        id="resizeButton"
        class="resizePanel"
        title="Increase size of panel"
        style="display: inline"
      >
        <i class="glyphicon glyphicon-resize-full" style="display: inline"></i>
        <i class="glyphicon glyphicon-resize-small" style="display: none"></i>
      </a>
    </span>
    <span
      class="dropdown settingsDropdown"
      style="background-color: var(--clrBackground)"
    >
      <a
        class="dropdown-toggle showSettings"
        data-toggle="dropdown"
        title="Параметри"
      >
        <i class="glyphicon glyphicon-cog"></i>
      </a>
      <div class="dropdown-menu pull-right stepModalFgBg" role="menu" dir="">
        <div>
          <h2>Переглядати разом, як</h2>
          <ul class="displayModes">
            <li role="presentation">
              <a
                href="javascript:void(0)"
                data-value="INTERLEAVED"
                title="Представляє обраного Біблій &amp; коментарями по одному рядку."
                ><span>Накладений вигляд</span
                ><span
                  class="glyphicon glyphicon-ok pull-right active"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                  "
                ></span
              ></a>
            </li>
            <li role="presentation" style="display: none">
              <a
                href="javascript:void(0)"
                data-value="INTERLEAVED_COMPARE"
                title="Цей параметр представляє вибраного Біблій і коментарями у поданні рядок за рядком і підкреслює текстової відмінності. Примітка: Слова в цьому поданні будуть заблоковані."
                ><span>Накладений вигляд з порівнянням</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                  "
                ></span
              ></a>
            </li>
            <li role="presentation" style="display: none">
              <a
                href="javascript:void(0)"
                data-value="INTERLINEAR"
                title="Посилання слова з різними версіями і представляє вибраного тексту слово за словом."
                ><span>Міжрядковий уривок</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                  "
                ></span
              ></a>
            </li>
            <li role="presentation">
              <a
                href="javascript:void(0)"
                data-value="COLUMN"
                title="Представляє обраного Біблій &amp; коментарі в таблиці, де кожен рядок представляє вірші і кожного стовпця представляє Біблії чи коментарі."
              >
                <span>Перегляд стовпцем</span>
                <span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                  "
                ></span
              ></a>
            </li>
            <li role="presentation" style="display: none">
              <a
                href="javascript:void(0)"
                data-value="COLUMN_COMPARE"
                title="Цей параметр представляє вибраного Біблій і коментарями до таблиці і підкреслює текстової відмінності. Кожний рядок представляє вірші і кожного стовпця представляє Біблії чи коментарі. У цьому поданні застосовується лише до Біблії і коментарями однією мовою. Примітка: Слова в цьому поданні будуть заблоковані."
                ><span>Перегляд стовпцем з порівнянням</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                  "
                ></span
              ></a>
            </li>
          </ul>
        </div>
        <span class="displayOptionsContainer panel-group" id="displayOptions-0">
          <h2>Параметри відображення</h2>
          <ul class="passageOptions" role="presentation">
            <li class="passage" style="display: none">
              <a href="javascript:void(0)" data-value="H" data-selected="true"
                ><span>Заголовки</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                    visibility: visible;
                  "
                ></span
              ></a>
            </li>
            <li class="passage" style="display: none">
              <a href="javascript:void(0)" data-value="V" data-selected="true"
                ><span>Нумерація віршів</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                    visibility: visible;
                  "
                ></span
              ></a>
            </li>
            <li class="passage">
              <a
                href="javascript:void(0)"
                data-value="X"
                title="Verse reference displayed for each version"
                data-selected="false"
                ><span>Version Reference</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                    visibility: hidden;
                  "
                ></span
              ></a>
            </li>
            <li class="passage">
              <a href="javascript:void(0)" data-value="L" data-selected="false"
                ><span>Вірші в окремих рядках</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                    visibility: hidden;
                  "
                ></span
              ></a>
            </li>
            <li class="passage" style="display: none">
              <a href="javascript:void(0)" data-value="R" data-selected="false"
                ><span>Слова Ісуса червоним кольором</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                    visibility: hidden;
                  "
                ></span
              ></a>
            </li>
            <li class="passage" style="display: none"></li>
            <div class="panel panel-default stepModalFgBg">
              <a
                data-toggle="collapse"
                class="menuGroup"
                data-parent="#displayOptions-0"
                data-target="#displayOptions-display_vocab_options0"
                style="font-weight: bold; display: none"
                >Варіанти синонімів<span class="caret"></span
              ></a>
              <div
                class="panel-collapse collapse"
                id="displayOptions-display_vocab_options0"
              >
                <div class="panel-body" role="presentation">
                  <li class="passage" style="display: none">
                    <a
                      href="javascript:void(0)"
                      data-value="E"
                      data-selected="false"
                      ><span>Слова англійською мовою</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: hidden;
                        "
                      ></span
                    ></a>
                  </li>
                  <li class="passage" style="display: none">
                    <a
                      href="javascript:void(0)"
                      data-value="A"
                      data-selected="false"
                      ><span>Слова грецькою / єврейською мовами</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: hidden;
                        "
                      ></span
                    ></a>
                  </li>
                  <li class="passage" style="display: none"></li>
                  <li class="passage" style="display: none"></li>
                  <li class="passage" style="display: none">
                    <a
                      href="javascript:void(0)"
                      data-value="T"
                      data-selected="false"
                      ><span>Транслітерація</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: hidden;
                        "
                      ></span
                    ></a>
                  </li>
                  <li class="passage" style="display: none">
                    <a
                      href="javascript:void(0)"
                      data-value="M"
                      data-selected="false"
                      ><span>Граматика</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: hidden;
                        "
                      ></span
                    ></a>
                  </li>
                </div>
              </div>
            </div>
            <li class="passage" style="display: none"></li>
            <div class="panel panel-default stepModalFgBg">
              <a
                data-toggle="collapse"
                class="menuGroup"
                data-parent="#displayOptions-0"
                data-target="#displayOptions-original_language_options0"
                style="font-weight: bold"
                >Параметри мови оригіналу<span class="caret"></span
              ></a>
              <div
                class="panel-collapse collapse"
                id="displayOptions-original_language_options0"
              >
                <div class="panel-body" role="presentation">
                  <li class="passage">
                    <a
                      href="javascript:void(0)"
                      data-value="O"
                      data-selected="false"
                      ><span>Перетворювати текст вихідного</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: hidden;
                        "
                      ></span
                    ></a>
                  </li>
                  <li class="passage" style="display: none">
                    <a
                      href="javascript:void(0)"
                      data-value="D"
                      title="Використовуються 2 кольори, щоб допомогти відокремити різні частини єврейського слова."
                      data-selected="false"
                      ><span>Кольоровий код для єврейської</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: hidden;
                        "
                      ></span
                    ></a>
                  </li>
                  <li class="passage">
                    <a
                      href="javascript:void(0)"
                      data-value="G"
                      title="Відображає усі грецькі акценти у тексті"
                      data-selected="true"
                      ><span>Грецькі акценти</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: visible;
                        "
                      ></span
                    ></a>
                  </li>
                  <li class="passage">
                    <a
                      href="javascript:void(0)"
                      data-value="U"
                      title="Відображає усі єврейські голосні у тексті"
                      data-selected="true"
                      ><span>Єврейські голосні</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: visible;
                        "
                      ></span
                    ></a>
                  </li>
                  <li class="passage">
                    <a
                      href="javascript:void(0)"
                      data-value="P"
                      title="Також відображає акценти у тексті"
                      data-selected="false"
                      ><span>…також відображати єврейські голосні</span
                      ><span
                        class="glyphicon glyphicon-ok pull-right"
                        style="
                          color: var(--clrText);
                          background: var(--clrBackground);
                          visibility: hidden;
                        "
                      ></span
                    ></a>
                  </li>
                </div>
              </div>
            </div>
            <li class="passage">
              <a href="javascript:void(0)" data-value="N" data-selected="true"
                ><span>Примітки і паралельні місця</span
                ><span
                  class="glyphicon glyphicon-ok pull-right"
                  style="
                    color: var(--clrText);
                    background: var(--clrBackground);
                    visibility: visible;
                  "
                ></span
              ></a>
            </li>
            <li class="noHighlight contextContainer" style="display: none">
              <span class="contextLabel" dir="ltr"
                >0 verse(s) обидві сторони</span
              >
            </li>
          </ul>
        </span>
        <h2>Загальні параметри</h2>
        <ul>
          <li>
            <a href="javascript:void(0)" data-selected="true"
              ><span>Швидкий Лексикон</span
              ><span
                class="glyphicon glyphicon-ok pull-right"
                style="visibility: visible"
              ></span
            ></a>
          </li>
          <li>
            <a href="javascript:void(0)" data-selected="true"
              ><span>Словникового запасу вірш</span
              ><span
                class="glyphicon glyphicon-ok pull-right"
                style="visibility: visible"
              ></span
            ></a>
          </li>
          <li>
            <a href="javascript:void(0)" data-selected="true"
              ><span>Similar word</span
              ><span
                class="glyphicon glyphicon-ok pull-right"
                style="visibility: visible"
              ></span
            ></a>
          </li>
          <li class="noHighlight contextContainer" style="display: none">
            <span class="contextLabel" dir="ltr">0 verse(s) обидві сторони</span
            ><span class="btn-group pull-right">
              <button class="btn btn-default btn-xs">
                <span
                  class="glyphicon glyphicon-minus"
                  title="Менше контексту"
                ></span>
              </button>
              <button class="btn btn-default btn-xs">
                <span
                  class="glyphicon glyphicon-plus"
                  title="Більше контексту"
                ></span></button
            ></span>
          </li>
          <li>
            Розмір шрифту<span class="pull-right btn-group">
              <button
                class="btn btn-default btn-sm largerFontSize"
                type="button"
                title="Font"
              >
                <span class="largerFont">A</span>
              </button></span
            >
          </li>
        </ul>
      </div>
    </span>
    <a class="openNewPanel hidden-xs" title="New panel"
      ><i class="glyphicon glyphicon-plus"></i
    ></a>
    <a class="closeColumn disabled hidden-xs" title="Закрити"
      ><i class="glyphicon glyphicon-remove"></i
    ></a>
  </div>
  <div class="resultsLabel pull-right" style="margin-right: 5px"></div>
  <span class="argSummary argSumSpan">
    <button
      type="button"
      onclick="step.util.σuy()"
      title="Select Bible translations"
      class="select-version stepButtonTriangle"
    >
      THOT, LXX, UkrOgienko</button
    ><span class="separator-version">&nbsp;</span>
    <button
      type="button"
      onclick="step.util.σup(0)"
      title="Select a new passage"
      class="select-reference stepButtonTriangle"
    >
      Буття 1</button
    ><span class="separator-reference">&nbsp;</span>
    <button
      type="button"
      onclick="step.util.σur(0)"
      title="Search the Bible"
      class="select-search stepButtonTriangle"
    >
      <i style="font-size: 10px" class="find glyphicon glyphicon-search"></i
      >&nbsp;
    </button>
  </span>
</div>
